.ql-editor {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: var(--surface-input-color);
}

svg.railroad-diagram path {
  stroke: black;
}

.dark-mode svg.railroad-diagram path {
  stroke: rgb(199, 199, 199);
}

.dark-mode svg.railroad-diagram rect {
  stroke: rgb(199, 199, 199);
  fill: var(--surface-input-color);
}

.dark-mode svg.railroad-diagram text {
  fill: rgb(199, 199, 199);
}

.ql-container.ql-snow {
  border: 0 !important;
}
