._file-explorer-side-panel_329ec4f {
  border-inline: 1px solid var(--border-primary-color);
  overflow: hidden;
}

._panel-header_e42105c {
  z-index: 2;
}

._panel-body_14c219e {
  z-index: 1;
  overflow-y: auto;
}
