.debugger-header {
  background-color: var(--surface-secondary-color);
  z-index: 2;
  border-block-end: 1px solid var(--border-primary-color);
}

.playback-speed {
  height: 40px;
  width: 200px;
  border-radius: 25px;
  box-shadow: var(--raised-box-shadow);
  background-color: var(--surface-secondary-color);
  padding: 8px;
  pointer-events: auto;
}

:global(.highlight-move),
:global(.highlight-error),
:global(.highlight-match) {
  color: white !important;
}

:global(.highlight-move) {
  background-color: var(--default-accent-color) !important;
}

:global(.highlight-error) {
  background-color: var(--default-error-color) !important;
}

:global(.highlight-match) {
  background-color: #67c71e !important;
}
