.examples {
  background-color: var(--surface-input-color);
  border-radius: 8px;
  box-shadow: var(--inset-box-shadow);
}

.toolbar {
  height: 40px;
  border-block-end: 1px solid var(--border-primary-color);
}

.grammar {
  border-inline-end: 1px solid var(--border-primary-color);
}

.top {
  border-block-end: 1px solid var(--border-primary-color);
}

.left {
  border-inline-end: 1px solid var(--border-primary-color);
}

.icon-button {
  border: none;
  box-shadow: none;
  padding: 0;
}

.icon {
  width: 1.8em;
  height: 1.8em;
  color: #549aff;
}

.black {
  color: #000000;
}

.select-file {
  background-color: var(--surface-secondary-color);
}

.select-file-message {
  display: inline;
  padding: 8px;
  width:auto;
  height: auto;
  box-shadow: var(--inset-box-shadow);
  border-radius: 8px;
  background-color: var(--surface-primary-color);
}
