.diagram {
  background-color: var(--surface-tertiary-color);
  cursor: grab;
}

.diagram-container {
  background-color: var(--surface-tertiary-color);
  overflow: visible;
  width: auto;
  height: auto;
}

:global(.terminal):not([data-type="literal"]) {
  cursor: pointer;
  user-select: none;
}

:global(.terminal):hover:not([data-type="literal"]) > rect {
  fill: var(--surface-secondary-color);
}
