.diagram {
  background-color: var(--surface-tertiary-color);
  cursor: grab;
}

.diagram > * {
  overflow: visible !important;
  width: 100% !important;
  height: 100% !important;
}

:global(.terminal):not([data-type="literal"]) {
  cursor: pointer;
  user-select: none;
}

:global(.terminal):hover:not([data-type="literal"]) > rect {
  fill: var(--surface-secondary-color);
}
