.snippets {
  overflow: auto;
  line-height: 1.42;
}

.snippet-header {
  background-color: var(--surface-secondary-color);
  padding-block: 8px;
  padding-inline: 16px;
  width: 100%;
  font-size: 18px;
}

.snippet-code {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding-block: 8px;
  padding-inline: 16px;
  font-size: 16px;
}
